body {
  background-color: lightsteelblue;
}

.App {
  display: inline-block;
  width: 70%;
  margin: 1% 15%;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgb(150, 150, 150);
}

#title {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 500;
  color: lightgrey;
}

.h1 {
  font-size: 32px;
  font-weight: 700;
  color: black;
}

#input {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  padding: 0 5px;
  margin: 0;
  width: 925px;
  height: 30px;
  font-size: 14px;
}

input::placeholder {
  color: lightgrey;
  font-weight: 700;
}

.btn {
  position: relative;
  margin: 1px;
  padding: 0 15px;
  height: 32px;
  float: right;
  color: white;
  font-weight: 900;
  border: none;
}

.btn-blue {
  background-color: dodgerblue;
}

.btn-orange {
  background-color: orange;
}

.btn-red {
  background-color: tomato;
}

#control {
  padding: 10px 0;
  height: 33px;
}

#list {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid lightgrey;
  background-color: ghostwhite;
}

.delete {
  width: 39px;
  height: 39px;
  bottom: 12px;
  left: 12px;
}